<nav style="margin-top: 1em; margin-bottom: 1.5em;">
  <strong>View:</strong>
  <a href="/blog/"{% if page.url == "/blog/" %} style="font-weight: bold;"{% endif %}>Main</a> |
  <a href="/blog/all/"{% if page.url == "/blog/all/" %} style="font-weight: bold;"{% endif %}>All</a> |
  <a href="/blog/news/"{% if page.url == "/blog/news/" %} style="font-weight: bold;"{% endif %}>Tech News</a> |
  <a href="/blog/public-comment/"{% if page.url == "/blog/public-comment/" %} style="font-weight: bold;"{% endif %}>Public Comments</a>{% if page.show_drafts %} |
  <a href="/blog/drafts/"{% if page.url == "/blog/drafts/" %} style="font-weight: bold;"{% endif %}>Drafts</a>{% endif %}
</nav>
